<div class="cookie-policy__preferences">
    <p class="cookie-policy__description">{{ "swt_cookie_policy.description"|trans }}</p>
    <ul class="cookie-policy__levels">
        <li class="cookie-policy__level cookie-policy__level--level-required" data-cookie-level="1">
            <a href="#">
                <span class="title">{{ "swt_cookie_policy.levels.one.title"|trans }}</span>
                <span class="description">{{ "swt_cookie_policy.levels.one.description"|trans }}</span>
            </a>
        </li>
        <li class="cookie-policy__level" data-cookie-level="2">
            <a href="#">
                <span class="title">{{ "swt_cookie_policy.levels.two.title"|trans }}</span>
                <span class="description">{{ "swt_cookie_policy.levels.two.description"|trans }}</span>
            </a>
        </li>
        <li class="cookie-policy__level" data-cookie-level="3">
            <a href="#">
                <span class="title">{{ "swt_cookie_policy.levels.three.title"|trans }}</span>
                <span class="description">{{ "swt_cookie_policy.levels.three.description"|trans }}</span>
            </a>
        </li>
        <li class="cookie-policy__level" data-cookie-level="4">
            <a href="#">
                <span class="title">{{ "swt_cookie_policy.levels.four.title"|trans }}</span>
                <span class="description">{{ "swt_cookie_policy.levels.four.description"|trans }}</span>
            </a>
        </li>
    </ul>
</div>